.root {
  :global(.react-codemirror2 .CodeMirror) {
    border: none;
    border-radius: 0;
  }

  :global(.lsf-tabs-panel__body) {
    height: 100%;
  }
}

body {
  border: 1px solid var(--color-neutral-border);
}